@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.country {
  box-shadow: 0 0 5px #836953;
  border: none;
  width: auto;
  height: auto;
  margin: 10px;
  position: relative;
  font-family: "Lato", sans-serif;
  color: #836953;
}

.country p {
  padding: 5px;
}

.isLoading {
  font-family: "Lato", sans-serif;
  color: #836953;
  font-size: 2rem;
  text-align: center;
}

header {
  background-color: #faf0e6;
  width: 100%;
  padding: 5px;
  margin: 0;
  color: #836953;
}

header h2 {
  padding-bottom: 5px;
}

.country img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

.searchInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  background-color: #faf0e6;
  border: none;
  box-shadow: 0 0 5px #836953;
  width: 250px;
  margin: 1rem;
  height: 50px;
  width: 300px;
  font-family: "Lato", sans-serif;
  color: #836953;
  font-size: 1.2rem;
  padding: 1rem;
}
